@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  --background: #F0F0F0; /* Light mode background */
  --foreground: #2D2D2D; /* Light mode foreground */
}

.dark {
  --background: #121212; /* Dark mode background */
  --foreground: #E0E0E0; /* Dark mode foreground */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
